<div class="overlay overlay__log-in">
  <div class="modal modal__log-in">
    <button type="button" class="modal__close-btn modal__log-in--close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <include src="./partials/modal-registration.html"></include>
  </div>
</div>

<div class="overlay film-modal__overlay">
  <div class="modal film-modal">
    <button type="button" class="modal__close-btn film-modal__close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <include src="./partials/modal-film.html"></include>
  </div>
</div>

<!-- <div class="overlay trailer-modal-overlay">
  <div class="modal trailer-modal">
    <button type="button" class="modal__close-btn trailer-modal__close-btn">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    Сюди інджектимо розмітку контенту модалки <include src="./partials/modal-film.html"></include>  -->
<!-- </div>
</div> -->

<div class="overlay team-modal-overlay">
  <div class="modal team-modal">
    <button type="button" class="modal__close-btn team-modal-close">
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>

    <include src="./partials/modal-team.html"></include>
  </div>
</div>
